.l{
    margin-top:150px;
}
.nav-link.active {
    color: linear-gradient(95deg,#4161d4,#62ff64); /* Apply the desired color for the active page */
  }
.price{
    margin-right: 30px;
    margin-left:10;
    height: 270px;
    width: 270px;
    object-fit: contain;
    padding: 20px;
    background:linear-gradient(30deg,#4161d4,#62ff64);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
.card-body{
    background:linear-gradient(30deg,#4161d4,#62ff64);
    width: 270px;
    margin-right: 30px;
    margin-left:-20.6px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}
.card-text{
    color: #fff;
}
.container{
    margin-left: 180px;
}
img{
    height:"228.4em"
}
