<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="C:\Users\GOUREESH\Desktop\splink2\components\onlinehistory.css" rel="stylesheet">
    <title>Splink</title>
</head>
<body>
    <!--Navbar-->
    <div>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Splink</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="C:\Users\GOUREESH\Desktop\splink2\index.html">🏠 Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="C:\Users\GOUREESH\Desktop\splink2\components\onlinehistory.html">📅 Order History</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="C:\Users\GOUREESH\Desktop\splink2\components\cart.html">🛒 Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="C:\Users\GOUREESH\Desktop\splink2\components\feedback.html">✉ Messages</a>
                </li>
                
              </ul>
            </div>
          </div>
        </nav>


  </div>
    <div class="iframe-container">
        <iframe src="file:///C:/Users/GOUREESH/Desktop/splink2/components/map.html" frameborder ="0" height="400px" width="800px" scrolling="no"></iframe>
    </div>

    <h1>Order History</h1>
    <div class="item">
        <div class="item-number">1.</div>
        <div class="item-description">
            <h2>Distributer A</h2>
            <p>Rating: ⭐⭐⭐⭐⭐</p>
            <p>Past Purchases: Ice-cream</p>
        </div>
    </div>
    <div class="item">
        <div class="item-number">2.</div>
        <div class="item-description">
            <h2>Distributer A</h2>
            <p>Rating: ⭐⭐⭐</p>
            <p>Past Purchases: Pencil</p>
        </div>
    </div>
    <div class="item">
        <div class="item-number">3.</div>
        <div class="item-description">
            <h2>Distributer A</h2>
            <p>Rating: ⭐⭐⭐⭐⭐</p>
            <p>Past Purchases: Cream Bun</p>
        </div>
    </div>
    <div class="item">
        <div class="item-number">4.</div>
        <div class="item-description">
            <h2>Distributer D</h2>
            <p>Rating: ⭐⭐⭐⭐</p>
            <p>Past Purchases: Donuts</p>
        </div>
    </div>
    
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>